{% extends 'base_2.html' %}
{%load static%}


{% block contenido%}
{%load crispy_forms_tags%}
<div class="container rounded bg-white mt-5 mb-5">
    <div class="row p-5">
        <div class=" d-flex flex-column align-items-center text-center p-3"><strong class="titlebody "style="margin-bottom: 0px;"> 
            {%ifequal user.sexo 'hombre'%}
            Bienvenido {{user.nombre|title }}
            {%endifequal%}
            {%ifequal user.sexo 'mujer'%}
            Bienvenida {{user.nombre|title }}
            {%endifequal%}
            {%ifequal user.sexo 'ninguno'%}
            Bienvenid@ {{user.nombre|title }}
            {%endifequal%}
            </strong></span>
        </div>
        <hr class='divisor' style='margin-bottom: 60px;'>                
           <div class="col-12 col-md-4"> 
                <div class="imagen_perfil align-items-center text-center mx-auto"></div>
                   
             
            </div>

            <div class=" col-12 col-md-8  ">
                
                    <form action="" method='post' class=" form">
                        {%csrf_token%}
                        {{form|crispy}}
                        
                        <div class="row">
                            <div class="col-12 col-md-4 mx-auto ">
                                <div class="mt-5 text-center"><a href="{% url 'AppUsers:profile' %}"><button class="btn button cancel_button boton_formulario mx-auto justify-content-center" type="button">Volver</button></a></div>
                            </div>
                            <div class="col-12 col-md-4 mx-auto ">
                                <div class="mt-5 text-center"><input type="submit" value='Guardar' class='btn button  justify-content-center boton_formulario mx-auto' ></div>

                            </div>
                        </div>
                    </form>
            </div>

                
              
           
        
    </div>
</div>


{% endblock %}